@page "/auctionType"
@rendermode InteractiveServer
@inject IAuctionTypesServices auctionTypesService
@inject NavigationManager navigationManager


<h3>Auction Types</h3>

<ul>
    @foreach (var auctionType in auctionTypes)
    {
        <div class="m-2">
        <li>
                @auctionType.NameEn
            <button @onclick="() => Delete(auctionType.Id)" class="btn btn-danger">
                Delete
            </button>

        </li>
        </div>
    }
</ul>
<label name="newNameEn">NameEn</label>
<input @bind="newNameEn" />
<label name="newNameAr">NameAr</label>
<input @bind="newNameAr" />
<label name="newkey">Key</label>
<input @bind="newKey" />
<button @onclick="AddAuctionType">Add Auction Type</button>

@code {
    private List<AuctionType> auctionTypes = new();

    protected override void OnInitialized()
    {
        auctionTypes = auctionTypesService.GetAll();
    }



    private string newNameEn = "";
    private string newNameAr = "";
    private string newKey = "";
    public bool IsActive { get; set; }

    private void AddAuctionType()
    {
        if (!string.IsNullOrWhiteSpace(newNameEn))
        {
            auctionTypesService.Add(
                  new AuctionType
                      {
                          NameEn = newNameEn,
                          NameAr = newNameAr,
                          Key = newKey
                      });
        }

        var auctionTypes = auctionTypesService.GetAll();
        navigationManager.Refresh(true);
    }

    private void Delete(int id)
    {
        auctionTypesService.Delete(id);
        navigationManager.Refresh(true);
    }


}
